.table-column {
    -fx-alignment: CENTER;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-text-background-color: black;
}
.table-view .column-header {
    -fx-background-color: #8B0000;
    -fx-text-background-color: white;
}
.table-row-cell {
    -fx-background-color: transparent;
}
table-row-cell:hover {
    -fx-text-background-color: gold;
    -fx-text-fill: gold;
    -fx-background-color: gold;

}